<p id="notice"><%= notice %></p>

<p>
  <strong>Train №</strong>
  <%= @train.number %>
</p>

<p>
  <strong>The train is at the station:</strong>
  <% if @train.railway_station.present? %>
    <%= @train.railway_station.title %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>The train goes on such a route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Car №</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.serial_number %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Type of wagon:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.kind %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Top places:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.top_seats %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Bottom seats:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.bottom_seats %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Side bottom seats:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.side_bottom_seats %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong>Side top seats:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.side_top_seats %>
    <% end %>
  <% else %>
    Not specified
  <% end %>
</p>

<%= link_to 'Buy ticket', new_ticket_path %>
<br>
<%= link_to 'Add car', new_car_url %>
<br>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back to Trains', trains_path %>

<%= render 'layouts/footer' %>