<p id="notice"><%= notice %></p>

<p>
  <strong>Поїзд №</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Поїзд знаходиться на станції:</strong>
  <% if @train.railway_station.present? %>
    <%= @train.railway_station.title %>
  <% else %>
    Не вказано
  <% end %>
</p>

<p>
  <strong>Поїзд їде по такому маршруту:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Не вказано
  <% end %>
</p>

<p>
  <strong>Вагон №</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.number %>
    <% end %>
  <% else %>
    Не вказано
  <% end %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.kind %>
    <% end %>
  <% else %>
    Не вказано
  <% end %>
</p>

<p>
  <strong>Верхні місця:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.top_seat %>
    <% end %>
  <% else %>
    Не вказано
  <% end %>
</p>

<p>
  <strong>Нижні місця:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.lower_seat %>
    <% end %>
  <% else %>
    Не вказано
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

<%= render 'layouts/footer' %>