<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.train_number') %> №</strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('.current_station') %>:</strong>
  <% if @train.railway_station.present? %>
    <%= @train.railway_station.title %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.current_route') %>:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.car_number') %> №</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.serial_number %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.type_car') %>:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.kind %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.top_seats') %>:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.top_seats %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.bottom_seats') %>:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.bottom_seats %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.side_bottom_seats') %>:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.side_bottom_seats %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<p>
  <strong><%= t('.side_top_seats') %>:</strong>
  <% if @train.cars.present? %>
    <% @train.cars.each do |car| %>
      <%= car.side_top_seats %>;
    <% end %>
  <% else %>
    <%= t('common.not_specified') %>
  <% end %>
</p>

<%= link_to t('common.buy_ticket'), new_ticket_path %>
<br>
<%= link_to 'Add car', new_car_url %>
<br>
<%= link_to t('common.edit'), edit_train_path(@train) %> |
<%= link_to t('.back'), trains_path %>

<%= render 'layouts/footer' %>