<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="nav-link" href="/railway_stations"><%= t('common.list_stations') %></a>
    <a class="nav-link" href="/trains"><%= t('common.list_trains') %></a>
    <a class="nav-link" href="/routes"><%= t('common.list_routes') %></a>
    <a class="nav-link" href="/cars"><%= t('common.list_cars') %></a>
  </div>
</nav>

<%= render 'layouts/footer' %>