<%= form_with(model: ticket, local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :railway_station, 'Оберіть станції' %>
    <%= form.select :railway_station_ids, RailwayStation.all.collect {|x| [x.title, x.id]}, {}, :multiple => true  %>
  </div>

  <div class="field">
    <%= form.label :train, 'Поїзд' %>
    <%= form.collection_select(:train_id, Train.all, :id, :number) %>
  </div>

  <div class="actions">
    <%= form.submit "#{ticket.new_record? ? 'Create' : 'Update' }" %>
  </div>
<% end %>
