<h1><%= t('.sold_tickets') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.full_name') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.last_name %></td>
      <td><%= ticket.first_name %></td>
      <td><%= ticket.middle_name %></td>
      <td><%= link_to t('common.show'), ticket %></td>
      <td><%= link_to t('common.edit'), edit_ticket_path(ticket) %></td>
      <td><%= link_to t('common.destroy'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('common.buy_ticket'), new_ticket_path %>
<br>
<%= link_to t('common.back'), welcome_index_path %>

<%= render 'layouts/footer' %>