<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @ticket.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @ticket.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong>Start station:</strong>
  <%= @ticket.railway_station.title %>
</p>

<p>
  <strong>End station:</strong>
  <%= @ticket.railway_station.title %>
</p>

<p>
  <strong>Train:</strong>
  <%= @ticket.train.number %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back to Tickets', tickets_path %>

<%= render 'layouts/footer' %>