<%= form_with(model: railway_station, local: true) do |form| %>
  <%= render 'common/errors', resource: @railway_station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :route, 'Current route' %>
    <%= form.select :route_ids, Route.all.collect {|x| [x.title, x.id]}, {}, :multiple => true  %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select(:train_id, Train.all, :id, :number) %>
  </div>

  <div class="actions">
    <%= form.submit "#{railway_station.new_record? ? 'Create' : 'Update' }" %>
  </div>
<% end %>
