<h1><%= t('.edit_railway_station') %></h1>

<%= render 'form', railway_station: @railway_station %>

<%= link_to t('common.show'), @railway_station %> |
<%= link_to t('common.back'), railway_stations_path %>

<%= render 'layouts/footer' %>