<h1><%= t('.title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.title_one') %>:</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td><b><%= route.title %></b></td>
      <td><%= link_to t('common.show'), route %></td>
      <td><%= link_to t('common.edit'), edit_route_path(route) %></td>
      <td><%= link_to t('common.destroy'), route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.add_route'), new_route_path %>
<br>
<%= link_to t('common.back'), welcome_index_path %>

<%= render 'layouts/footer' %>

