<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %>:</strong>
  <%= @route.title %>
</p>

<% if @route.railway_stations.empty? %>
  <p>До маршруту не входить жодна станція</p>
<% else %>
  <p>До маршруту входять такі станції:</p>
  <ul>
    <% @route.railway_stations.each do |railway_station| %>
      <li><%= railway_station.title %></li>
    <% end %>
  </ul>
<%end %>

<% if @route.trains.empty? %>
  <p>До маршруту не входять жодні поїзда</p>
<% else %>
  <p>До маршруту входять такі поїзда:</p>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<%end %>


<%= link_to t('common.edit'), edit_route_path(@route) %> |
<%= link_to t('.back'), routes_path %>

<%= render 'layouts/footer' %>

