<%= form_with(model: car, local: true) do |form| %>
  <%= render 'common/errors', resource: @car %>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.number_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind, Car.kinds.keys %>
  </div>

  <div class="field">
    <%= form.label :bottom_seats %>
    <%= form.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :top_seats %>
    <%= form.number_field :top_seats %>
  </div>

  <div class="field">
    <%= form.label :side_bottom_seats %>
    <%= form.number_field :side_bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :side_top_seats %>
    <%= form.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select(:train_id, Train.all, :id, :number) %>
  </div>

  <div class="actions">
    <%= form.submit "#{car.new_record? ? 'Create' : 'Update' }" %>
  </div>
<% end %>