<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
    <tr>
      <th><%= t('.number') %>:</th>
      <td><%= car.serial_number %></td>
      <td><%= link_to t('common.show'), car %></td>
      <td><%= link_to t('common.edit'), edit_car_path(car) %></td>
      <td><%= link_to t('common.destroy'), car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <tr>
      <th><%= t('.kind') %>:</th>
      <td><%= car.kind %></td>
    </tr>
    <tr>
      <th><%= t('.bottom_seat') %>:</th>
      <td><%= car.bottom_seats %></td>
    </tr>
    <tr>
      <th><%= t('.top_seat') %>:</th>
      <td><%= car.top_seats %></td>
    </tr>
    <tr>
      <th><%= t('.side_bottom_seat') %>:</th>
      <td><%= car.side_bottom_seats %></td>
    </tr>
    <tr>
      <th><%= t('.side_top_seat') %>:</th>
      <td><%= car.side_top_seats %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Car', new_car_path %>
<br>
<%= link_to 'Add Train', new_train_path %>
<br>
<%= link_to t('common.back'), welcome_index_path %>

<%= render 'layouts/footer' %>
